@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Teko:wght@600&display=swap');

/*General settings*/

:root {
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    color: rgb(46, 46, 46);
    font-family: "Roboto", sans-serif;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .main-container>* {
    width: 100%;
  }
  
  .container {
    background: linear-gradient(to bottom, rgb(94, 243, 228) 0%, rgb(106, 182, 243) 100%);
    border-radius: 0.5rem;
  }

 /*Home section styles*/ 
  .quiz-name {
    font-size: 7rem;
  }
  
  .hide-content {
    display: none;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    font-family: "Teko", sans-serif;
  }
  
  h2 {
    font-size: 3rem;
    padding: 1rem;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  h3 {
    font-size: 2.5rem;
    padding-top: 5rem;
  }

  /*Home section styles*/ 

  #quiz-rules ul {
    list-style-type: none;
    padding: 2rem;
  }
  
  ul li {
    font-size: 2.2rem;
    margin: 1.5rem;
  }
  
  #options li {
    margin: 2rem 0.5rem;
  }
  
  ul li label {
    cursor: pointer;
  }
  
  #quiz-rules h2 {
    margin: 0 auto;
  }
  
  #quiz-rules li {
    list-style-type: decimal;
    padding-left: 0.5rem;
  }
  
  #quiz-rules li:last-child {
    list-style-type: none;
    font-size: 2.3rem;
    text-align: center;
  }

  button,
#submit-button {
  background: #17608a;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1.3rem;
  font-size: 2.5rem;
  margin: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

input {
  background-color: #fafafa;
}

input#playername {
  background-color: rgba(206, 207, 226, 0.493);
  height: 3.5rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  border: 2px solid #333;
  outline: none;
  border-style: solid;
  font-family: "Roboto Condensed", sans-serif;
}

#submit-button:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(49, 100, 109, 0.6);
  transition: transform 160ms;
  transform: scale(1.03);
}

  /*Background video*/
  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
  }