@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Teko:wght@600&display=swap');

/*General settings*/

:root {
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
  }
  
  /*html,body{
    /*height:100%;
    padding:0;
    margin:0;
  }*/

  body {
    color: rgb(46, 46, 46);
    font-family: "Roboto", sans-serif;
  }
  
  .main-container {
    display:flex;
    justify-content:center;
    align-items:center;
    max-width: 100rem;
    margin: 0 auto;
  }
  
  .main-container>* {
    width: 100%;
  }
  
  .container {
    
    margin: 0.5rem;
    background: linear-gradient(to bottom, rgb(94, 243, 228) 0%, rgb(106, 182, 243) 100%);
    border-radius: 0.5rem;
  }

 /*Home section styles*/ 
  .quiz-name {
    font-size: 7rem;
  }
  
  .hide-content {
    display: none;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    font-family: "Teko", sans-serif;
  }
  
  h2 {
    font-size: 3rem;
    padding: 1rem;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  h3 {
    font-size: 2.5rem;
    padding-top: 5rem;
  }

  /*Home section styles*/ 

  #quiz-rules ul {
    list-style-type: none;
    padding: 2rem;
  }
  
  ul li {
    font-size: 2.2rem;
    margin: 1.5rem;
  }
  
  #options li {
    margin: 2rem 0.5rem;
  }
  
  ul li label {
    cursor: pointer;
  }
  
  #quiz-rules h2 {
    margin: 0 auto;
  }
  
  #quiz-rules li {
    list-style-type: decimal;
    padding-left: 0.5rem;
  }
  
  #quiz-rules li:last-child {
    list-style-type: none;
    font-size: 2.3rem;
    text-align: center;
  }

  button,
#submit-button {
  background: #17608a;
  color: #f7f7f7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1.3rem;
  font-size: 2.5rem;
  margin: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

input {
  background-color: #fafafa;
}

input#playername {
  background-color: rgba(206, 207, 226, 0.493);
  height: 3.5rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  border: 2px solid #333;
  outline: none;
  border-style: solid;
  font-family: "Roboto Condensed", sans-serif;
}

#submit-button:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(49, 100, 109, 0.6);
  transition: transform 160ms;
  transform: scale(1.03);
}

button:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(49, 100, 109, 0.6);
  transition: transform 160ms;
  transform: scale(1.03);
}

/*Score area*/
#score-area {
  justify-content: space-around;
  font-size: 2.5rem;
  border-top: 2px solid rgb(88, 88, 88);
  align-items: center;
  margin: 1rem;
}

#arduino-information {
  justify-content: space-around;
  font-size: 2rem;
  border-top: 2px solid rgb(88, 88, 88);
  padding: 0.5rem;
  align-items: center;
  margin: 0.5rem;
}

#summary {
  width: auto;
}

  /*Background video*/
  #background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
  }

/* Media queries */

@media screen and (min-height: 655px) {
.main-container {
  height: 100vh;
}
}

@media screen and (max-width: 600px) {
  .quiz-name {
    font-size: 5rem;
  }
 
  h1 {
    font-size: 4rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 2.3rem;
    padding: 0.5rem;
  }

  h3 {
    font-size: 2.1rem;
    padding: 0.5rem;
    margin-top: 3rem;
  }

  input#playername {
    font-size: 2.3rem;
  }

  ul li {
    font-size: 1.8rem;
    margin: 0.3rem;
  }

  #quiz-rules li:last-child {
    font-size: 1.8rem;
    padding: 1rem
  }

  #question {
    font-size: 2.3rem;
  }

  button,
  #submit-button {
    padding: 0.5rem;
    font-size: 2.2rem;
    margin: 0.5rem;
  }

  #question-number h1 {
    font-size: 4.5rem;
  }

  #score-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.8rem;
  }

  #options li {
    margin: 1rem 0.5rem;
  }

  img {
    transform: scale(0.8);
  }

  #arduino-information {
    font-size: 1.7rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .scores {
    padding: 0.3rem;
  }
}

@media screen and (min-width: 600px) {
 
  .quiz-name {
    font-size: 6rem;
  }
 
  h1 {
    font-size: 5.5rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 2.9rem;
    padding: 0.5rem;
  }

  h3 {
    font-size: 2.7rem;
    padding: 0.5rem;
    margin-top: 3rem;
  }

  input#playername {
    font-size: 2.7rem;
  }

  ul li {
    font-size: 2.2rem;
    margin: 0.5rem;
  }

  #quiz-rules li:last-child {
    font-size: 2.3rem;
    padding: 1rem
  }
  button,
  #submit-button {
    padding: 0.7rem;
    font-size: 2.7rem;
    margin: 0.5rem;
  }

  #question-number h1 {
    font-size: 5.5rem;
  }

  #score-area {
    font-size: 2.2rem;
  }

  #options li {
    margin: 1.8rem 0.5rem;
  }

  img {
    transform: scale(0.9);
  }

  #arduino-information {
    font-size: 2.2rem;
  }

  .scores {
    padding: 0.3rem;
  }
}


@media only screen and (min-width: 768px) {
  .quiz-name {
    font-size: 6.5rem;
  }
 
  h1 {
    font-size: 5.9rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 3.3rem;
    padding: 0.5rem;
  }

  h3 {
    font-size: 3.1rem;
    padding: 0.5rem;
    margin-top: 3rem;
  }

  input#playername {
    font-size: 3.1rem;
  }

  ul li {
    font-size: 2.6rem;
    margin: 1rem;
  }

  #quiz-rules li:last-child {
    font-size: 2.7rem;
    padding: 1rem
  }
  button,
  #submit-button {
    padding: 0.7rem;
    font-size: 2.7rem;
    margin: 0.5rem;
  }

  #question-number h1 {
    font-size: 5.9rem;
  }

  #score-area {
    font-size: 2.6rem;
  }

  #options li {
    margin: 1.8rem 0.5rem;
  }

  img {
    transform: scale(0.9);
  }

  #arduino-information {
    font-size: 2.3rem;
  }
}

  @media only screen and (min-width: 1200px) {
    .quiz-name {
      font-size: 7.5rem;
    }
   
    h1 {
      font-size: 6rem;
       }
  
    h2 {
      font-size: 3.4rem;
      }
  
    h3 {
      font-size: 3.2rem;
    }
  
    input#playername {
      font-size: 3.2rem;
    }
  
    ul li {
      font-size: 2.6rem;
      margin: 1.6rem;
    }

    #quiz-rules ul {
      padding: 0.5rem 2rem;
  }
  
    #quiz-rules li:last-child {
      font-size: 2.6rem;
      padding: 1rem
    }

    button,
    #submit-button {
      padding: 0.7rem;
      font-size: 2.8rem;
      margin: 0.5rem;
    }
  
    #question-number h1 {
      font-size: 6rem;
    }
  
    #score-area {
      font-size: 2.7rem;
    }
  
    #options li {
      margin: 1.8rem 0.5rem;
    }
  
    img {
      transform: scale(1);
    }
  
    #arduino-information {
      font-size: 2.7rem;
    }
  }





